.col-2-1{
    text-align: center;
}
h2 {
    position: relative;
    left: 250px;
    top:30px;
    width: 830px;	height: 50px;
    outline: 2px solid black;
}
.col-2-2{
    position: relative;
    text-align: right;
    right: 205px;
}
.col-2-4{
    position: relative;
    left: 150px;
    top: -40px;
}
.col-2-3{
    margin-left: 50px;
}
.forModification{
position: relative;
left: 250px;
top:-80px;
font-size: 20px;
    font-weight: 600;
}
.surname{
    margin-top: 30px;
    text-align: right;
    margin-right: 1000px;
}
.name{
    margin-top: 30px;
    text-align: right;
    margin-right: 1000px;
}
.group{
    margin-top: 30px;
    text-align: right;
    margin-right: 1000px;

}
.date{
    margin-top: 30px;
    text-align: right;
    margin-right: 1000px;
}
.name-button1{
    position : relative;
    left: 450px;
    top: -45px;
}
.name-button{
    position : relative;
    left: 255px;
    top: 40px;
}

